<h1>New Course</h1>

  <% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_messages.each do |message| %>
    <li>
      <%= message %>  </li>
    <% end %>

  </ul>
  <% end %>


<%= form_for @course do |f| %>
  <%=f.label :subject %>
  <%=f.text_field :subject %>
  <%=f.submit "Create Course" %>
<% end %>
